.listContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.listWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}


.listSearch{
    flex:1;
    background-color:#1b92fb;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    height: max-content;
}

.lsTitle{
    font-size: 20px;
    color: lightgray;
    margin-bottom: 10px;
}


.lsItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.lsItem>label{
    font-size: 12px;

}

.lsItem>input {
    height: 30px;
    border: none;
    padding: 5px;
}

.lsItem>span {
   height: 30px;
   background-color: white;
   padding: 5px; 
   display: flex;
   align-items: center;
   cursor:pointer;
}

.lsOptionItem{
    display:flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: lightgray;
    font-size: 12px;
}

.lsOptions{
    padding: 10px;
}

.lsOptionInput{
    width:50px;
}
.listResult {
    flex: 3;
    
}

.listSearch>button{
    padding: 10px;
    background-color:#134169;
    color: white;
    border: none;
    width: 100%;
    font-weight: 500;
    cursor:pointer;
}