.navbar {
    height: 50px;
    background-image: linear-gradient(to right, #134169, #1b92fb);
    display: flex;
    justify-content: center;
}

.nav-container {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    font-size: 1.0rem;
    text-decoration: none;
}

.navButton {
   margin-left: 20px;
   border: none;
   padding: 5px 10px;
   cursor: pointer;
   color: #2068a7;
}