.home {
    display: flex;
  }
  
 
  .home-container {
    display: grid;
    padding: 20px;
    gap: 20px;
  }
  
  .home-container{
    padding: 5px 20px;
  }
  
  .home-container .list-container {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    margin: 20px;
  }
  
  .home-container .list-container .list-title {
    font-weight: 500;
    color: gray;
    margin-bottom: 15px;
  }
  