*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
    height: 50px;
    border-bottom: 0.5px solid gray;
    display: flex;
    align-items: center;
    font-size: 14px;
    color:#134169; 

}

.navbar .navbar-wrapper {
    display: flex;
    padding: 20px;
    align-items: center;
    width: 100%;
    
}

.search {
    display: flex;
    align-items: center;
    border: 0.5px solid lightgray;
    padding: 5px;
}

.search input {
    background: transparent;
    border: none;
    outline: none;
  
}

input::placeholder {
    font-size: 12px;
}